.container {
    position: absolute;
    top: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin-left: 126px;
}
.divload{
    position: absolute !important;
    top: 300px !important;
    font-size: 30px !important;
    z-index: 100 !important;
    color: bisque !important;
}