.detailsContainer{
    position: absolute;
    left: 180px;
    top: 120px;
    font-family: 'Poppins', sans-serif;
    
    .topImg{
        background: linear-gradient(180deg, rgba(54, 44, 146, 0.4) 0%, rgba(18, 98, 151, 0.4) 100%);
        border-radius: 40px;
        width:78vw;
        height: 480px;
    }
    .title{
        background: rgba(32, 40, 62, 0.8);
        backdrop-filter: blur(24px);
        border-radius: 24px;
        width: 560px;
        height: 144px;
        position: absolute;
        top: 408px;
        left: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            color: #EBEEF5;
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
        }
        p{
            color: #BEB7FB;
            font-weight: 400;
            font-size: 12px;
        }
    }
    .leftImg{
        width: 30vw;
       height: 45vw;
       background-color: grey;
       border-radius: 24px;
     
       top: 680px;
       left: 100px;
    }
    .starContainer {
        background: rgba(0, 0, 0, 0.65);
        backdrop-filter: blur(8px);
       margin: 30px 0 30px 0;
        width: 80px;
        height: 35px;
        top: 18px;
        left: 16px;
        border-radius: 8px;
        padding: 4px, 8px, 4px, 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        .star {
            color: #FFAD49;
            margin-right: 8px;
            font-size: 20px;
        }
        .count{
            font-size: 16px;
            color: #FFAD49;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;
        }
    }
    
}

.bottomContainer{
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 680px;
       left: 100px;
    width: 100%;
    
    .right{
        width:40vw;
    }
    p{
        font-weight: 400;
        font-size: 1.5vw;
        color: #8E95A9 !important;
        line-height: 32px;
        margin: 20px 10px 20px 0;
    }
    h3{
        font-weight: 700;
        font-size: 24px;
        color: #EBEEF5;
        line-height: 32px;
        margin-bottom:10px;
    }
    h4{
        font-weight: 400;
        font-size: 20px;
      color: #C3C8D4;
      line-height: 32px;
    }
}

.sectionn{
    background-color: #121829;
     background-size: 100%;
    height: 2300px;
    width: 100%;
  
    overflow: hidden;
    .backimgg{
       height: 2300px;
       width: 100%;
      object-fit: cover;
       
    }
 
 }
 .backdrop{
    border-radius: 24px;
    opacity: 0.7;
    height: 100%;
   width:78vw;
 }
 .postpath{
    border-radius: 24px;
    width: 30vw;

   
}

.containerd {
    position: absolute;
    top: 1800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin-left: 126px;
    .cardsContainer {
        height: 480px;
        width: 282px;
        border-radius: 12px;
        padding: 1vw;
        background-color: #20283E;
        color: white;
        margin-top: 32px;
        position: relative;
        padding: 8px 8px 16px 8px;
        transition: 800ms all;
        &:hover{
            box-shadow: 0 0 20px blue;
            transition: 800ms all;
        }
        
    }

    .img {
        position: absolute;
        left: 2.5%;
        right: 0%;
        top: 2%;
        bottom: 0%;
        width: 266px;
        height: 400px;
        object-fit: cover;
        border-radius: 12px;
    }

    .starContainer {
        background: rgba(0, 0, 0, 0.65);
        backdrop-filter: blur(8px);
        position: absolute;
        width: 90px !important;
        height: 35px;
        top: 18px;
        left: 16px;
        border-radius: 8px;
        padding: 4px, 12px, 4px, 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        .star {
            color: #FFAD49;
            margin-right: 8px;
            font-size: 20px;
        }
        .count{
            font-size: 16px;
            color: #FFAD49;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;
        }
    }
    .heartContainer{
        position: absolute;
        width: 35px;
        height: 35px;
        top: 18px;
        right: 16px;
        border-radius: 8px;
        padding: 4px, 8px, 4px, 8px;
        background: rgba(0, 0, 0, 0.65);
        backdrop-filter: blur(8px);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100 !important;
        .heart{
           
            color: #FFAD49;
            font-size: 20px;
            cursor: pointer;
            padding-top: 4px;
            &:hover{
                color: aqua;
                
                
            }
           
        }
    }
    .containerTitle{
        position: absolute;
        bottom: 10px;
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding: 0 0px 0 7px;
        .tags{
            color: #FFAD49;
            font-size: 20px;
            height: 20px;
          
            &:hover{
                color: aqua;
                cursor: pointer;
                
            }
            
        }
        .titlep{
            font-size: 15px;
        }
    }
}
.divload{
    position: absolute !important;
    top: 300px !important;
    font-size: 30px !important;
    z-index: 100 !important;
    color: bisque !important;
}

.recomend{
    position: absolute;
    top: 1650px;
    color: #BEB7FB;
    font-size: 70px;
    left: 420px;
}

.heartContainerr{
  
    width: 35px;
    height: 35px;
    top: 18px;
    right: 16px;
    border-radius: 8px;
    padding: 4px, 8px, 4px, 8px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100 !important;
    .heart22{
        color: #FFAD49;
        font-size: 20px;
        position: absolute;
        left: 7px;
        top: 8px;
        cursor: pointer;
        
    }
    .heart2{
        color: #FFAD49;
        font-size: 20px;
        position: absolute;
        left: 7px;
        top: 8px;
        cursor: pointer;
        
    }
    .heart{
       
        color: #FFAD49;
        font-size: 20px;
        cursor: pointer;
        padding-top: 4px;
        &:hover{
            color: aqua;
            
            
        }
       
    }
}
.containerTitlee{
    margin-left: 20px;
    width: 35px !important;
    height: 35px;
    top: 18px;
    right: 16px;
    border-radius: 8px;
    padding: 4px, 8px, 4px, 8px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 2px 0px 0 1px;
    .tags2{
        color: #FFAD49 !important;
        font-size: 20px;
        position: absolute;
        bottom: 11px;
       right: 6px;
        cursor: pointer;
    }
    .tags22{
        color: #FFAD49 !important;
        font-size: 20px;
        position: absolute;
        bottom: 8px;
       right: 8px;
        cursor: pointer;
    }
    .tags{
        color: #FFAD49 !important;
        font-size: 20px;
        height: 20px;
      
        &:hover{
            color: aqua;
            cursor: pointer;
            
        }
        
    }
}

.heartStart{
    display: flex;
}

.btn{
    z-index: 100 !important;
    
}

